<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand " href="/home" routerLinkActive="Active">PizzaHunt</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/pizza">Pizza</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="#">Veg-Pizza</a></li>
            <li><a href="#">Non-VegPizza</a></li>
            <li><a href="#">All-pizza</a></li>
          </ul>
        </li>
        <li><a href="#">Reviews</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
  
           <li><a href="/orders">Orders</a></li>
        <li><a href="/sign-in"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
      </ul>
    </div>
  </nav>

<br><br>


<div class="container" name="divActive" style="border:1px solid black">
    <div class="col-md-4">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSumbit()" >
    <div class="form-group required">
      <label >Name</label>
      <input type="text" class="form-control" id="exampleInputusername1"  formControlName="Name" placeholder="Enter Your Name">
        <label type="text-danger" *ngIf="service.formModel.get('username')?.touched &&  service.formModel.get('username')?.errors">This field is Mandatory</label>
    </div >
    <div class="form-group required">
    <label >MobileNumber</label>
      <input type="text" class="form-control" id="exampleInputusername1"  formControlName="MobileNumber" placeholder="Enter Mobile Number">
    </div >
    <div class="form-group required">
        <label >Place</label>
          <input type="text" class="form-control" id="exampleInputusername1"  formControlName="Place" placeholder="Enter Area Name">
    </div>
    <div class="form-group required">
            <label >City</label>
              <input type="text" class="form-control" id="exampleInputusername1"  formControlName="city" placeholder="Enter  City Name">
    </div>
    <div class="form-group required">
    <label >Email</label>
    <input type="text" class="form-control" id="exampleInputusername1"  formControlName="Email" placeholder="Enter Your Email address">
    </div>
   <br>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" >Check Out</button>
        </div>
    </div>
    
  </form>
 </div>
</div>
