<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand " href="/home" routerLinkActive="Active">PizzaHunt</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/pizza">Pizza</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="#">Veg-Pizza</a></li>
            <li><a href="#">Non-VegPizza</a></li>
            <li><a href="#">All-pizza</a></li>
          </ul>
        </li>
        <li><a href="#">Reviews</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/orders">Orders</a></li>
        <li><a href="/sign-in"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
  <br><br>