<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand " href="/home" routerLinkActive="Active">PizzaHunt</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/pizza">Pizza</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><a href="#">Veg-Pizza</a></li>
            <li><a href="#">Non-VegPizza</a></li>
            <li><a href="#">All-pizza</a></li>
          </ul>
        </li>
        <li><a href="#">Reviews</a></li>
        <li><a href="/orders">Orders</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">

        <li><a href="">Welcome to the PizzaHunt...</a></li>
        <li><a href="/cart"  ><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
       
        <li><a href="/sign-in"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        
      </ul>
    </div>
  </nav>

<br><br>

<div class="container body-content">
   <h2>PizzaHunt's Menu</h2>
    <form action="/Pizzas/ListAll" method="post">
        <div class="form-horizontal"> 
            <div class="form-group">
                <label class="col-md-2 control-label" for="SearchText">Serach</label>
                <div class="col-md-10">
                    <input name="SearchText" class="form-control" id="SearchFieldId" oninput="listSearchExamplesScript()" type="text" value="" data-val-required="The Serach field is required." data-val="true">
                    <span class="text-danger field-validation-valid" data-valmsg-replace="true" data-valmsg-for="SearchText"></span>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-info" type="submit" value="Search">
                </div>
            </div>
        </div>
    <input name="__RequestVerificationToken" type="hidden">
    <div class="checkoutclass">
        <p class="button">
            <a class="btn btn-primary" href="/checkout">checkout</a>
        </p>
    </div>
    <div class="checkoutclass">
        <p class="button">
            <a class="btn btn-primary" href="/pizza-list">Check Out All Pizza's Here</a>
        </p>
    </div>
</form>
<div class="container">
<div id="PizzaSummaryId">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Kentucky" src="http://assets.kraftfoods.com/recipe_images/opendeploy/54150_640x428.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 240.00</p></h3>
                <h3>
                   Kentucky
                </h3>
                <h5><b>Category: Non-VegPizza</b></h5>
                <p>A pizza from America with the taste of chicken</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Veggie" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Vegetarian_pizza.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 220.00</p></h3>
                <h3>
                   Veggie
                </h3>
                <h5><b>Category: VegPizza</b></h5>
                <p>Veggie Pizza for vegitarians</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Flying Jacob" src="https://upload.wikimedia.org/wikipedia/commons/6/64/Pizza_Hawaii_Special_p%C3%A5_Pizzeria_Papillon_i_Sala_1343.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 2600.00</p></h3>
                <h3>
                   Flying Jacob
                </h3>
                <h5><b>Category: VegPizza</b></h5>
                <p>Flying pizza from the sky, with taste of banana.</p>
            </div>
            
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Kebab Special" src="http://2.bp.blogspot.com/_3cSn3Qz_4IA/THkYqKwGw1I/AAAAAAAAAPg/ybKpvRbjDWE/s1600/matsl%C3%A4kten+002.JPG">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 300.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/88">Kebab Special</a>
                </h3>
                <h5><b>Category: Non-VegPizza</b></h5>
                <p>A special pizza with kebab for the hungry one.</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of La Carne" src="https://www.davannis.com/wp-content/uploads/2015/03/five-meat.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 240.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/89">La Carne</a>
                </h3>
                <h5><b>Category: Non-VegPizza</b></h5>
                <p>Italian pizza with lot's of delicious meat.</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Barcelona" src="http://barcelona-home.com/blog/wp-content/upload/pizza/Pizzeria%20Los%20Amigos/pizza-jamon-dulce-y-champinone.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 140.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/90">Barcelona</a>
                </h3>
                <h5><b>Category: VegPizza</b></h5>
                <p>A pizza with taste from Spain, Barcelona</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Pescatore" src="https://isinginthekitchen.files.wordpress.com/2014/07/dsc_0231.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 200.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/91">Pescatore</a>
                </h3>
                <h5><b>Category: Standard</b></h5>
                <p>A pizza with taste from the ocean.</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Margarita" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 280.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/92">Margarita</a>
                </h3>
                <h5><b>Category: Standard</b></h5>
                <p>A basic pizza for everyone.</p>
            </div>
           
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Hawaii" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Hawaiian_pizza_1.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 250.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/93">Hyderabad</a>
                </h3>
                <h5><b>Category: Standard</b></h5>
                <p>A nice tasting pizza from Hyderabad.</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of Capricciosa" src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Pizza_capricciosa.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 220.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/94">Capricciosa</a>
                </h3>
                <h5><b>Category: Standard</b></h5>
                <p>A normal pizza with a taste from the forest.</p>
            </div>
            
        </div>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img alt="Picture of PAULO" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Hawaiian_pizza_1.jpg">
            <div class="caption">
                <h3 class="pull-right"><p>&#x20b9; 240.00</p></h3>
                <h3>
                    <a href="/Pizzas/DisplayDetails/95">PAULO</a>
                </h3>
                <h5><b>Category: Standard</b></h5>
                <p>PAULINHO PINHO</p>
            </div>
         </div>
        </div>
    </div>
</div>
</div>
<br>
<hr>
<div class="container">
    <footer>
 <div><a href="/home"><b>Home</b></a></div>
   <div><a href="/Home/Contact"><b>Contact:sunkolu.shivakumar@mindtree.com</b></a></div>
    <div>© Hyderabadi Gandemo 2022 - Pizza Hunt</div>
            
</footer>
</div>
